pandas
openpyxl
streamlit
python-dotenv
chromadb==0.5.20
pysqlite3-binary; platform_system == "Linux" and python_version < "3.13"
sentence-transformers
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
tqdm
rapidfuzz
# llama-cpp-python  # Uncomment if using local LLM
pytest
